.App {
  margin: 0px;
  padding: 0px;
}

.ui.main.container{
  margin: 0 0 0 0;
  height: 90vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}